.user{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.user_detail{
    display: flex;
    color: white;
}

.user_credentials{
    display: flex;
    flex-direction: column;
}

.user_bought{
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
}