.home{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
.home_bestTitle{
    color: #ffffff;
}

.home_bestTabLinks{
    color: #969B9C;
    display: flex;
}

.home_bestTabLink{
    margin-right: 4vw;
    cursor: pointer;
}

.home_bestTabLinks .active{
    color: #ffffff;
}

.home_bestTab{
    display: none;
}

.home_bestTabs .active{
    display: flex;
    /* flex-wrap: wrap;
    justify-content: center; */
    overflow: auto;
}


.home_tags{
    position: sticky;
    left: 0px;
    margin-top: 20px;
}

.home_itemsTitle{
    align-self: center;
    margin: 55px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_items {
    display: flex;
}

.home_itemsList{
    display: flex;
    flex-wrap: wrap;
}